* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  

*/Grid Layout*/

.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    'header'
    'navigation' 
    'alert '
    'line '
    'bar '
    'pie'
    'social'
    'member'
    'activity'
    'message '
    'settings';
    

}

.app-name{
    font-size: 30px;
    color: white;
    padding: 10px;
}
.navigation{
    background-color:#4d4c72;
    width: 100%;
    display: flex;
    flex-direction: inline;
    justify-content: flex-start;
    grid-area: navigation;
    grid-row: 2/-1;
    height:100%;
    opacity:0.95;
}

h2 {
   padding-right: 10px;
}

.alertbar {
    background-color:#807ddb;
    text-align: center;
    color: white;
}

.main-header {
    grid-area: dashboard;
}

.alertbar{
    grid-area: alert;
}

.lineGraph{
    grid-area: line;
    justify-content: center;
    display: block;
    text-align: center;
    margin-left:10%;
    margin-right:10%;
    max-width:90%;
}

.barGraph {
    grid-area: bar;
    margin-left:10%;
    margin-right:10%;
    margin-top: 30px;
}

.pieGraph {
    grid-area: pie;
    margin-left:10%;
    margin-right:10%;
    margin-top: 10px;
    margin-bottom: 20px;

}

canvas{
    width: 100%;
}

.social{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-area: social;
    margin-left: 10px;
}

.stats{
    padding: 10px;
    margin-right: 10px;
}

.social svg{
    background-color: #7377bf;
    border-radius: 50%;
    padding:10px;
    width:30px;
    height:30px;
    /* float:left; */
    overflow:visible;
    margin-right: auto;
  
}

h3 {
    text-align: center;
}

.newMembers{
    grid-area: members;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.recentActivity{
   
    grid-area: activity;
}

.info {
    
}

.messageUser{

    grid-area: message;
}

.setting{
    grid-area: setting;
}

.nav_link {
    height:30px;
    width:30px;
    margin:20px auto;
  
}

.divider{
    font-size: 3em;
    color: black;
    font-weight: lighter;
    opacity: 0.1;
    /* place-self:center; */
  
  
}

  /* Navigations and sidebars */
  header {
    background-color: #7477bf;
    height:60px;
    margin-top:0;
    display: grid;
    grid-template-columns: 30fr 1.5fr 0.5fr 1fr 3fr;
    grid-area: header;
    grid-column: 1/4;
    opacity:0.95;
  }
  

.bell{
    height:30px;
    width:30px;
    place-self:center;
    transition: transform .5s;

}
.bell:hover {
    transform: scale(1.3);
}
.profile{
    border-radius: 50%;
    height:40px;
    width:40px;
    place-self:center;

}
.name{
    color:white;
    font-size:1em;
    /* place-self:center; */
    margin:auto 2px;
    font-family: sans-serif;
  }

  /* Dashboard and search bar styling */
 .main-header {
    display: flex;
    justify-content: space-between;
    

}

.main-header input{
    width: 50%;
    border-radius: 5px;
    border: solid lightgray 1px;
    padding: 10px 0 10px 15px;
    margin-right: 15px;
    display: flex;
    justify-content: flex-end;
}
   
.search-bar {
    background-color:  rgb(247, 247, 247);
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;


}

.twitter,
.facebook,
.google{
    background-color: #fbfbfb;
    border: solid #e9e4e4 1px;
    width: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content:inherit;
    margin:5px 10px;
    padding: 5px 10px;
    align-items: center;
}
  
@media screen and (min-width: 768px) {
    .grid{
        grid-template-columns: 55px 3fr;
        grid-template-areas:
            "header header header"
            "navigation alert alert"
            "navigation line line"
            "navigation bar pie"
            "navigation social socail"
            "navigation member activity"
            "navigation message setting"
    }



}

@media screen and (min-width：1024px) {
    .grid {

    }
}